.stop-sms-container {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
}

.upload-box {
  border: 2px dashed #d3d3d3;
  border-radius: 10px;
  background-color: #fff7f0;
}
